.carousel-item {
  max-height: 40vh !important;
}

@media (min-width: 770px) {
  .border-left-when-big {
    border-left: 0.0625rem solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 770px) {
  .border-left-when-big {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
  }
}